@layer components {
  .blog-post h1 {
    @apply text-6xl;
  }

  .blog-post h2 {
    @apply mb-4 mt-12 font-serif text-3xl;
  }

  .blog-post h3 {
    @apply mb-4 mt-12 font-serif text-2xl;
  }

  .blog-post h4 {
    @apply mb-4 mt-12 font-serif text-xl;
  }

  .blog-post p {
    @apply text-taupe-700 mb-6 text-lg leading-relaxed last:mb-0;
  }

  .blog-post blockquote {
    @apply my-6 px-6 font-serif leading-7 text-neutral-700;
  }

  .blog-post li:has(> ul) > p {
    @apply mb-3;
  }

  .blog-post p a {
    @apply focus-visible:ring-ring text-sky-700 underline underline-offset-2 outline-none focus-visible:ring-2 focus-visible:ring-offset-2;
  }

  .blog-post ul,
  .blog-post ol {
    @apply marker:text-muted-foreground mb-6 space-y-3 pl-8 text-neutral-700 last:mb-0;
  }

  .blog-post ol ul,
  .blog-post ul ul {
    @apply pl-4 text-lg text-neutral-700;
  }

  .blog-post ul {
    @apply list-disc text-lg;
  }
  .blog-post ol {
    @apply list-decimal text-lg;
  }

  .blog-post :not(pre) > code {
    @apply border-taupe-200 text-taupe-700 bg-taupe-100 rounded-sm border px-1 py-0.5 font-mono text-[15px];
  }

  .blog-post strong {
    @apply font-semibold;
  }

  .blog-post .expressive-code {
    @apply my-6;
  }

  .blog-post :where(h1, h2, h3, h4, h5, h6) {
    @apply relative scroll-mt-24;
  }

  .blog-post .anchor {
    @apply text-muted-foreground hover:text-foreground absolute -left-8 top-1/2 -translate-y-1/2 translate-x-2 cursor-pointer rounded-md p-1 opacity-0 transition-all duration-200;
  }

  .blog-post :where(h1, h2, h3, h4, h5, h6):hover .anchor {
    @apply translate-x-0 opacity-100;
  }

  .blog-post .expressive-code .twoslash-highlighted > span {
    @apply rounded-none border-0 border-b-[1.5px] border-sky-700 bg-transparent py-1;
  }
}

.blog-post :where(h1, h2, h3, h4, h5, h6) > code {
  font-size: 0.875em;
}

.blog-post .expressive-code .twoslash-highlighted {
  background-color: transparent;
  border: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #0284c7;
  border-radius: 0px;
}

.blog-post .expressive-code .twoslash-static-container {
  background-color: #fafafa;
  border-color: #e5e5e5;
}

.blog-post .expressive-code .twoslash-cursor {
  background-color: #737373;
}

.blog-post .expressive-code .twoslash-completion-container {
  border-color: #e5e5e5;
}

.blog-post .expressive-code .twoslash-completion-item-separator {
  border-color: #e5e5e5;
}

.blog-post .expressive-code .twoslash-static-container::before {
  background-color: #fafafa;
  border-top-color: #e5e5e5;
  border-right-color: #e5e5e5;
}

.blog-post .expressive-code [id^="twoslash_popup_"] {
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  border-color: #e5e5e5;
}

.blog-post .expressive-code [id^="twoslash_popup_"]::before {
  border-top-color: #e5e5e5;
  border-right-color: #e5e5e5;
}
